/* Box Model Hack */
* {
  box-sizing: border-box;
}
.hidden {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, .9);
  color: white;
}
.tops {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 2.5rem;
}
button {
  font-size: 1.5rem;
  height: 50px;
  width: 150px;
  color: white;
  background: rgba(255, 255, 255, .5);
}
button:hover,
button:focus {
  transition: 0.5s;
  color: rgb(252, 61, 33);
  background: rgb(11, 61, 145);
  border: 2px solid white;
}
aside {
  font-size: 1.25rem;
  text-align: center;
  color: rgba(255, 255, 255, .5);
}
input {
  font-size: 1.25rem;
  height: 35px;
}
.mids {
  margin-left: 10%;
}
h2 {
  font-size: 2rem;
  text-decoration: underline;
}
h3 {
  font-size: 2rem;
  padding-left: 5%;
}
.botts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  font-size: 1.25rem;
  padding: 2% 10%;
}
img {
  max-width: 95%;
  border: 2px solid white;
}

@media all and (max-width:1250px) {
  h1 {
    font-size: 3.5rem;
  }
  button {
    font-size: 2.5rem;
    height: 100px;
    width: 300px;
  }
  aside {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
}